/* Building Character */

body {
  overflow: hidden;
  background: no-repeat url('../assets/background3.jpg');
  display: flex;
  flex-direction: row;
  background-size: cover;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  height: 100vh;
  justify-content: center;
  width: 350px;
}

aside p {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  color: grey;
}

.current_process {
  color: white;
  text-decoration: underline;
}

main {
  font-family: 'Merriweather';
  color: white;
}

#step1 {
  width: 100%;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form section {
  margin: 20px 45px 20px;
}

label {
  font-size: 24px;
}

.radio {
  font-size: 20px;
}

input {
  margin-top: 15px;
  padding: 10px 0 10px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 4px 4px 10px rgba(66,66,66,.85);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

select {
  margin-top: 15px;
  padding: 10px 0 10px;
  font-size: 16px;
  width: 100px;
}

.buttons {
  margin: 20px 45px 20px;
  display: flex;
  justify-content: center;
}

button {
  font-family: 'Merriweather';
  background: linear-gradient(135deg, rgba(28,43,27,1) 35%, rgba(51,136,85,1) 100%);
  color: white;
  font-size: 20px;
  padding: 20px;
  margin: 0 10% 0;
  cursor: pointer;
  width: 30%;
  max-width: 400px;
}

#step1 p {
  text-align: center;
  visibility: hidden;
  margin: 80px 0 80px;
  font-family: 'Poppins';
  font-size: 18px;
}

/* Step 2 */

#step2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10% 0;
}

#characteristics {
  display: flex;
  justify-content: space-between;
}

#step2 div {
  display: flex;
  flex-direction: column;
}

#step2 h1 {
  font-family: 'Merriweather';
  font-size: 22px;
}

#step2 p {
  margin: 0;
  font-family: 'Poppins'
}

#age-modifier {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#age-modifier p {
  font-family: 'Poppins';
  font-size: 16px;
  visibility: hidden;
}

#age-modifier span {
  font-family: 'Poppins';
  font-size: 16px;
  visibility: hidden;
}

#age-modifier #modifiers {
  display: flex;
  flex-direction: column;
  padding: 35px 0 35px;
}

#age-modifier div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0 16px;
}

#age-modifier div label {
  font-family: 'Poppins';
  font-size: 16px;
}

#age-modifier div input {
  font-family: 'Poppins';
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 50px;
  margin-left: 10px;
}

#age-modifier-1 {
  visibility: hidden;
}

#age-modifier-2 {
  visibility: hidden;
}

#age-modifier-3 {
  visibility: hidden;
}

button:disabled {
  color: gray;
  background-color: rgba(51,136,85,1);
  cursor: auto;
}

/* Step 3 */

#step3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10% 0;
}

#step3 div {
  display: flex;
  flex-direction: column;
}

#step3 h1 {
  font-family: 'Merriweather';
  font-size: 22px;
  padding-right: 50px;
}

#step3 p {
  margin: 0;
  font-family: 'Poppins'
}

#second-characteristics {
  display: flex;
}

#second-characteristics div {
  width: 150px;
  margin-right: 13px;
}

#choose-occupation {
  display: flex;
  padding: 30px 0 30px;
}

#choose-occupation select {
  padding: 10px;
  width: 300px;
  font-family: 'Poppins';
}

.occupation-description-one {
  font-family: 'Poppins';
  font-size: 16px;
  padding: 5px 0 5px;
  word-wrap: normal;
  width: 90%;
}

.occupation-description-two {
  font-family: 'Poppins';
  font-size: 16px;
  padding: 5px 0 5px;
  word-wrap: normal;
  width: 90%;
}

#step3 li {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 300;
  padding: 3px 0 3px;
}

#step3 ol {
  margin:0%
}

.step3-instruction {
  font-family: 'Poppins';
  font-size: 16px;
  word-wrap: normal;
  width: 1200px;
  padding-bottom: 10px;
}

.occupation-description-one .credit {
  color: greenyellow;
  font-weight: 700;
}

.occupation-description-one .o-name {
  color: greenyellow;
  font-weight: 700;
}

.occupation-description-one .char {
  color: greenyellow;
  font-weight: 700;
}